<div class="container my-4">
  <% if user_signed_in? %>
    <h1>Welcome, <%= current_user.first_name %> <%= current_user.last_name %></h1>
  <% else %>
    <h1>Welcome to Devise App!</h1>
  <% end %>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam nemo repudiandae placeat blanditiis ullam error laborum asperiores rem nisi? Doloribus eos laborum accusamus nesciunt blanditiis dolorem minima ipsa sunt consequatur.
  Accusamus tempore aut et sunt consectetur, repellendus molestias reiciendis exercitationem esse voluptate quam fugiat ratione consequatur. Eum voluptatibus at nesciunt eaque eveniet! Perspiciatis adipisci ipsa, numquam ex suscipit dolores error.</p>

</div>
